/* RESET */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERARLI */

.container-griglia{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.griglia{
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  max-height: 400px;
}

.griglia > *{
  /* width: 10%; */
  aspect-ratio: 1/1;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bg-vittoria{
  background-color: aquamarine;
}

.bg-sconfitta{
  background-color: red;
}